---
name: Generate all reports

# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: "0 13 * * *"
  workflow_dispatch:

jobs:
  bundle:
    name: Generate All Reports
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v3
        with:
          python-version: "3.9"
      - name: Install dependencies
        run: pip install -r ./requirements.txt
      - run: python ./main.py generate-all-snapshot-report
      - run: python ./main.py generate-primary-snapshot-report
      - run: python ./main.py generate-unique-url-report
      - run: python ./main.py generate-unique-websites-report
      - run: python ./main.py generate-target-url-report
      - run: python ./main.py generate-standards-report
      - run: python ./main.py generate-standards-bureau-report
      - run: python ./main.py generate-baseline-report
      - run: python ./main.py generate-base-consumer-report
      - run: python ./main.py federal-standards-snapshot-report
      - run: python ./main.py generate-uswds-report
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update report files
