name: Run Smoke Tests

on:
  # schedule:
  #   - cron: '0 9 * * *'
  workflow_dispatch:

jobs:
  run-tests:
    permissions:
      issues: write

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: |
          cd smoke_tests
          bun install

      - name: Run smoke tests
        env:
          ISSUE_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd smoke_tests
          bun run src/main.ts
